.venuePage {
    margin-inline: 36px;
    margin-block-start: 28px;
}
.venuePage h1 {
    font-size: xx-large;
    font-weight: 600;
    margin-inline: 0;
}
.venuePage h2 {
    font-weight: 500;
    margin-top: 20px;
}
.venuePage hr {
    width: 70%;
    margin-block: 10px;
}
.venuePage p {
    font-size: medium;
    text-align: justify;
    padding-inline: 36px;
}
.venuePage ul {
    color: #212529;
    font-weight: lighter;
    margin-block: 10px;
    padding-inline: 60px;
}
@media only screen and (max-width:890px){
        .venuePage p {
            padding-inline: 0px;
        }
        .venuePage ul {
            padding-inline: 0px;
        }
}