.committe {
    margin-inline: 36px;
    padding-block-start: 18px;
}
.committe h1{
    font-size: xx-large;
    font-weight: 600;
    margin-inline: 0;
}
.committe h2{
    font-weight: 400;
}
.committe hr {
    width: 70%;
}
.committe .usersContainer {
    margin-block: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}