.footer {
    margin-top: 18px;
    padding-inline: 18px;
    padding-block: 18px;
    color: #fff;
    background-color: var(--accent);
}
.footer .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer .row .column{
    display: flex;
    flex-direction: column;
    width: 25ch;
}

.footer .row .column .link {
    color: white;
    text-decoration: none;
}
.footer .row .column a {
    text-decoration: none;
    color: #fff;
}
.footer .rowCol{
    padding-block-start: 9px;
    text-align: center;
}
@media only screen and (max-width:890px){
    .footer .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .row img {
        width: 100%;
    }
    .footer .row .column {
        margin-block: 18px;
        align-items: center;
    }
}